<nav id="top-nav">
  <div class="row">
    <%= link_to image_tag('fund3liveslogo.png'), root_path %>
    <ul class="right">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Our Beneficiaries', beneficiaries_path %></li>
      <li><a href="">Three</a></li>
      <li>
        <% if user_signed_in? %>
          Hello, <%= link_to "#{current_user.email}!", edit_user_registration_path %>
          <%= link_to 'Sign Out?  ', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to '',
            user_omniauth_authorize_path(:facebook),
            class: 'facebook_signin'
          %>
        <% end -%>
      </li>
    </ul>
  </div>
</nav>